<nav class="navbar navbar-expand-lg bg-Secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin">Music web</a>
    <button class="navbar-toggler" type="button" 
      aria-controls="#side-bar" aria-expanded="false" aria-label="Toggle navigation" onclick="openSide()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      </div>
  </div>
</nav>
<script>
</script>